<div class="sticky">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="{{site.baseurl}}/{{page.lang}}/">{{site.title}}</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>
    <section class="top-bar-section">
      <ul class="left">
        {% for navi in site.data.nav %}
          {% if navi.type == "entry" %}
            {% assign p=site.pages | where:"id",navi.id | where:"lang",page.lang | first %}
            {% if navi.id == page.id %}
              <li class="active">
            {% else %}
              <li>
            {% endif %}
            <a href="{{site.baseurl}}{{p.url}}">{{p.title}}</a></li>
          {% elsif navi.type == "menu" %}
            <li class="has-dropdown">
              <a href="#">{{navi.name[page.lang]}}</a>
              <ul class="dropdown">
                {% for child in navi.entries %}
                  {% if child.type == "separator" %}
                    <li class="divider"></li>
                  {% elsif child.type == "headline" %}
                    <li><label>{{child.name[page.lang]}}</label></li>
                  {% else %}
                    {% assign p=site.pages | where:"id",child.id | where:"lang",page.lang | first %}
                    {% if child.id == page.id %}
                      <li class="active">
                    {% else %}
                      <li>
                    {% endif %}
                    <a href="{{site.baseurl}}{{p.url}}">{{p.title}}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
          {% else %}
            undefined
          {% endif %}
        {% endfor %}
      </ul>
      {% if page.id %}
      <ul class="right">
        <li class="has-form">
          <ul class="button-group radius">
            {% assign ps=site.pages | where:"id",page.id | sort:'path' %}
            {% for p in ps %}
              <li><a href="{{site.baseurl}}{{p.url}}" class="button {% if p.lang == page.lang %}disabled{% else %}secondary{% endif %}">{{p.lang}}</a></li>
            {% endfor %}
          </ul>
        </li>
      </ul>
      {% endif %}
    </section>
  </nav>
</div>
