<nav class="navbar navbar-default navbar-static-top row" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{site.baseurl}}/{{page.lang}}/">{{site.title}}</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse in" aria-expanded="true">
      <ul class="nav navbar-nav">
        {% for navi in site.data.nav %}
          {% if navi.type == "entry" %}
            {% assign p=site.pages | where:"id",navi.id | where:"lang",page.lang | first %}
            {% if navi.id == page.id %}
              <li class="active">
            {% else %}
              <li>
            {% endif %}
            <a href="{{site.baseurl}}{{p.url}}">{{p.title}}</a></li>
          {% elsif navi.type == "menu" %}
            <li class="dropdown open">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">{{navi.name[page.lang]}}<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                {% for child in navi.entries %}
                  {% if child.type == "separator" %}
                    <li class="divider"></li>
                  {% elsif child.type == "headline" %}
                    <li class="dropdown-header">{{child.name[page.lang]}}</li>
                  {% else %}
                    {% assign p=site.pages | where:"id",child.id | where:"lang",page.lang | first %}
                    {% if child.id == page.id %}
                      <li class="active">
                    {% else %}
                      <li>
                    {% endif %}
                    <a href="{{site.baseurl}}{{p.url}}">{{p.title}}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
          {% else %}
            undefined
          {% endif %}
        {% endfor %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if page.id %}
          <li>
            <div class="btn-group">
              {% assign ps=site.pages | where:"id",page.id | sort:'path' %}
              {% for p in ps %}
                <a href="{{p.url}}" class="btn navbar-btn {% if p.lang == page.lang %}btn-primary disabled{% else %}btn-default{% endif %}">{{p.lang}}</a>
              {% endfor %}
            </div>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
